[2019-06-17 14:51] dmonad opened #1 "Client should ping to check if connection is alive"
When opening the laptop from suspension, the client sometimes thinks that the connection is still alive.

[2019-07-26 17:27] mrsweaters opened #2 "Compile errors"
I'm getting the following two errors in a fresh project created with `vue-cli`:

[code]

[2019-08-29 02:28] crapthings opened #3 "npm install failed"
[code]

[2019-08-29 02:30] crapthings opened #4 "Cannot resolve dependency 'yjs/provider/websocket.js'"
import { WebsocketProvider } from 'yjs/provider/websocket.js'

![image](https://user-images.githubusercontent.com/1147704/63905803-f5fd0780-ca47-11e9-8e93-af5bbdddccd1.png)

i've cloned this module, and copy the code from readme, but it seems   there's no yjs/provider

[2019-08-29 02:42] crapthings commented on #4
if i use cloned module
import { WebsocketProvider } from '../../../y-websocket'

[code]

[2019-08-29 10:33] dmonad commented on #3
You need to give me more information. Clearly `npm i y-websocket` and `npm i y-websocket@next` works on my system.

[2019-08-29 10:33] #3 closed

[2019-08-29 10:38] dmonad commented on #4
Correct. There is no `yjs/provider`. Where did you find this?

[code]

It definitely is not in the readme https://github.com/y-js/yjs/blob/master/README.v13.md

For the most up-to-date versions you can also look at https://github.com/y-js/yjs-demos

[2019-08-29 10:38] #4 closed

[2019-08-29 10:41] dmonad commented on #2
Please always include versions and how to reproduce this error. I'm not familiar with the vue build system. But if you describe how to reproduce I might find out how to fix it

[2019-08-29 10:41] #2 closed

[2019-08-29 10:41] dmonad commented on #1
done

[2019-08-29 10:41] #1 closed

[2019-08-29 13:21] crapthings commented on #4
![image](https://user-images.githubusercontent.com/1147704/63943808-f5458f00-caa2-11e9-86eb-5afbfb502962.png)

[2019-12-22 11:53] dmonad opened #7 "Authentication testing"
The proposed auth method should be tested. A client shouldn't try to reconnect after auth has been rejected and the server should properly close the connection.

From @WinstonFasset in the Gitter channel:

I got auth working a while back based on that marker in bin/server.js, but it's been a bit of a struggle and is still a bit of a mess. If anyone else has had any success I'd love to know what th

[2019-12-29 16:36] dmonad opened #8 "Implement another authentication approach aside from cookie support."

[2020-03-27 23:51] LukenAgile42 opened #11 "Cant separate data with different Y.Doc instances"
[code]

My expectation here is that I would have separate data in the two input fields. However its the same, even though I have different rooms, and different Doc instances.

[2020-03-30 17:38] dmonad opened #12 "Minor: bc should use url without query params"

[2020-03-30 18:10] dmonad commented on #11
You posted the same issue here https://github.com/yjs/yjs/issues/185 and in the Gitter channel.

Please respect my time.

[2020-03-30 18:23] #11 closed

[2020-04-02 00:40] canadaduane opened #14 "Persisting State: Documentation?"
As per your [comment](https://discuss.yjs.dev/t/what-is-the-most-stable-persistence-for-v13/57/2), it would be great to learn more about persisting state in conjunction with `y-websocket`. Thanks!

[2020-04-02 09:55] #12 closed

[2020-04-06 21:53] dmonad commented on #14
Hey @canadaduane , I'm currently updating y-redis and y-leveldb. I'll also restructure the API that adds persistence to y-websocket. Until now, I expected people to clone the y-websocket server, but I think it makes sense to at least allow users to share persistence modules properly.

[2020-04-06 22:36] canadaduane commented on #14
That would be fantastic! Thank you.

[2020-04-11 04:04] amilich opened #15 "Unable to run demo"
Hi! Sorry if this isn't the right place to ask... I'm trying to run the `y-websockets-server` locally and can't seem to get the client to work. I cloned [this repo](https://github.com/y-js/y-websockets-server) as well as the demo repo, and I run `PORT=1234 npx y-websockets-server`, which results in an output of:
[code]
In my client demo, I create a connection with:
[code]
I don't see a connection

[2020-04-11 04:30] amilich commented on #15
Actually, the above was the output when running [this old server](https://github.com/y-js/y-websockets-server).

When running `PORT=1234 npx y-websockets-server`, the output is:
[code]

[2020-04-15 18:52] dmonad commented on #15
Hi @amilich ,
The server is now part of y-websocket. You should be able to run `npx y-websocket-server` after installing `y-websocket`. You should try to remove y-websockets-server from your system. Apparently it is still somehow referenced.

[2020-04-15 18:52] #15 closed

[2020-04-28 09:57] zlv-thisF opened #16 "Question: why server need a centralized doc ?"
hey all, i am a bit confused about the collab-demo:https://github.com/yjs/y-prosemirror with y-websocket here.

in the demo, server holds a centralized doc, ws listen to client update and applyUpdate on 'server-ydoc', then broadcast server update to each 'client-ydoc' which will turn into prosemirror's transaction. I am new to yjs, in my opinion, CRDT is not basd on centralized node, why not serve

[2020-05-03 13:57] WinstonFassett commented on #7
I've been running with the above approach for several months and it works, including reconnecting but it's got some issues.

 * There is no way to send a bearer token in the header from the browser, and I'd rather not use cookies, nor have access tokens in URLs, even if it is secured over wss.
 * There is no way to send an access denied message back to the client in `server.on('upgrade')`.
   * De

[2020-05-03 14:04] WinstonFassett commented on #8
I wrote a long comment on this in #7, but TLDR: I did the above (authenticate using messages) and I recommend it.

[2020-05-27 06:07] renieravin commented on #14
Hey @dmonad , any luck on this front? Would love to implement persistence in Yjs 13!

[2020-05-27 11:19] dmonad commented on #14
@renieravin Sure, I'd love to get a contribution on y-leveldb.

If you want to get started, it would be best to start a new project based on [y-indexeddb](https://github.com/yjs/y-indexeddb) and rewrite it based on leveldb. I recommend to use [leveldown]https://github.com/Level/leveldown) unless there is a good alternative.

[2020-05-27 12:09] dmonad commented on #14
Actually, @renieravin I just might have found a sponsor for the leveldb adapter. I'll let you know if it works out :)

[2020-05-30 16:31] dmonad commented on #16
Hi @zlv-thisF ,

Yjs is network agnostic. That means it works with any communication protocol. You just need some way of propagating all changes to all clients.

Yjs has many network providers to allow shared editing using webrtc, websocket, dat, and for v12 there also exist modules for IPFS and XMPP. This is explained in the README. Let me know if that was unclear.

For many applications, it is s

[2020-05-30 16:31] #16 closed

[2020-06-17 07:09] zlv-thisF commented on #16
thanks for you patient,  now i get it !   thanks a lot !

[2020-06-26 17:15] dmonad opened #17 "Websocket support for node"
See https://discuss.yjs.dev/t/nodejs-support-for-y-websocket/132

[2020-06-27 05:59] anilgulecha commented on #14
@dmonad was any update made on this persistence feature? The README does talk about:

So is this available for use, or a WIP?

[2020-07-02 06:02] anilgulecha opened #18 "Emitting changed rooms"
We're using yjs-websocket as a centralized sync layer for prosemirror collaboration. This is essential a cache of the latest (online) state, and not the final store.

I would like to pass a HTTP endpoint, which is a callback-endpoint triggered with the room-id. (this will technically be a publish endpoint, and applications can then implement their own subscription and do other actions based on thi

[2020-07-08 18:37] dmonad opened #19 "Additional sync guarantees"
The server should check regularly (at least shortly after the session is created) if the client is synced up. We debugged one case when the websocket connection apparently "loses" the initial syncStep1 message from the server, and this is one way to fix it.

@vwall

Will work on this this week. You can pull the changes and check if you can still reproduce the issue.

[2020-07-10 00:52] dmonad commented on #18
Hey @anilgulecha ,

thanks for the offer! I'd love to have an example that will show how this works. I'd like to keep y-websocket minimalistic, so I think it would be best if your example would be implemented in a separate demo project. We could also include it in [yjs-demos](https://github.com/yjs/yjs-demos/)

[2020-07-10 01:26] dmonad commented on #19
Hey @vwall, I implemented a parameter that will send an inexpensive sync message every `resyncInterval` ms to the server.

It is disabled by default, but if this works for you I will enable it by default.

Just set the third parameter to a reasonable interval timeout (> 10000 ms).

`new WebsocketProvider(URL, roomname, ydoc, { resyncInterval: 10000 })`

I also implemented an annoying `alert` messa

[2020-07-10 01:28] dmonad commented on #17
@canadaduane

This is now supported as a third parameter.

`new WebsocketProvider(url, room, ydoc, { WebSocketPolyfill: MyWebsocketPolyfill })`. I haven't tested this with nodejs and `ws` yet, but I imagine this is how it should work.

[2020-07-10 01:28] #17 closed

[2020-07-10 03:02] anilgulecha commented on #18
We've almost completed building this. The approach has been to add callback.js, and add opt-in environment variables (akin to YPERSISTENCE today), that turns on this behavior.

I think the y-websokcet layer is the best place to add it in - it's where it would be of use to people who choose to use it. but if you would recommend implementing this another way, we can do that too. The PR will be opene

[2020-07-28 21:46] micrology opened #22 "Use wss:// protocol as an option for y-websocket"
Both for additional security and because if one is running a https:// server, it is essential, it would be good if y-websocket could provide websocket services using TLS as an option.

[2020-07-28 21:48] micrology commented on #22
Apologies - I had intended to assign this issue to myself, but it seems that this is not something I can do.

[2020-07-28 22:07] dmonad commented on #22
NP, only I can do that :wink:

[2020-07-29 19:49] micrology opened #23 "Memory leak?"
There are two issues.  I am reporting them as separate issues because I don't know whether they are related, but they might be.

**Describe the bug**
When running y-websocket, version 1.3.1, the memory used by `node` increases until it exceeds the RAM available.

**In more detail**
Using the set up recommended in the README, i.e.
[code]
the memory used by node grows unreasonably.  When y-websocket

[2020-07-29 21:33] micrology opened #24 "Disconnects and reconnects every 30 seconds"
**Describe the bug**

The client disconnects and then reconnects from the websocket server every 30 seconds

**To Reproduce**

Set up a client running yjs. Intermittently, it will do something similar to this:

[code]
I have not discovered for certain what triggers this.  It *may* occur after resuming from a debugger break, but it does not happen every time.

**Environment**

Client code:
[code]

[2020-07-29 23:02] dmonad commented on #23
Thanks, I'll look into it

[2020-08-07 07:36] mikkorantalainen opened #26 "Improve documentation: explain how to use PubSub server"
I'm thinking about building a Yjs+Atlaskit collaborative editor for our service. The existing system is running behind two redundant load balancers pushing requests to three redundant worker servers talking to another set of redundant servers running SQL database. As such, I'd like to setup the collaborative editor to have no single point of failure. The README.md suggest that PubSub is the way to

[2020-08-07 08:28] mikkorantalainen commented on #22
Is there are real need for y-websocket to do the TLS stuff by itself? In real production, I'd expect everybody to run haproxy in front of y-websocket anyway so a good documentation to do that should be enough.

[2020-08-07 08:35] mikkorantalainen commented on #14
Any new info about persisting state? I'd prefer pushing and pulling the persisting state to/from Postgres database so any pointers about that would be great.

[2020-08-07 08:44] mikkorantalainen commented on #18
I'm interested to see more info about this, too. I, too, think that base y-websocket should be kept minimalistic but it would be great to have lots of documentation and demos about how to do more complex stuff.

From all the collaborative text editors I've seen, it seems that Yjs + atlaskit combination has been the only system that doesn't have any broken edge cases plus its performance (=latency)

[2020-08-08 16:34] dmonad commented on #18
@mikkorantalainen Seriously, if you find any bugs, report them! I'll fix them :wink:

[2020-08-08 16:51] dmonad commented on #18
Released in `y-websocket@1.3.2`

[2020-08-08 16:51] #18 closed

[2020-08-08 17:01] dmonad commented on #24
Hey @micrology

It is expected that the server disconnects from the client after a debugger-break of a couple of seconds. y-websocket needs to send a ping or an awareness update (in almost all cases it's an awareness update) to the server.

If you would use socket.io or something similar, they send a `ping` event to the client which the browser itself answers. With Yjs, I reuse the awareness updat

[2020-08-08 22:12] micrology commented on #24
Hi @dmonad

I've been trying to narrow down the circumstances that give rise to this behaviour, but so far without success.  However, once it starts, it continues - even through a client reboot.  While I can understand that an interrupt such as a debugger break could yield a disconnect followed by a reconnect, once the connection has been re-established, why then does it continue to disconnect and

[2020-08-11 12:31] mikkorantalainen commented on #26
If I've understood correctly, I would need to use y-websocket with https://github.com/shripadk/Socket.IO-PubSub and I would need to modify the client app starting with Yjs+atlaskit demo at https://github.com/yjs/yjs-demos/tree/master/atlaskit near code

    const provider = new WebsocketProvider('wss://demos.yjs.dev', 'atlaskit', ydoc)

to send messages over socket.io instead of raw websocket.

In

[2020-08-11 19:41] canadaduane commented on #22
I use nginx (with certbot doing the SSL configuration) in front of y-websocket and it works well.

[2020-08-11 19:50] canadaduane opened #27 "Export `docs` in utils.js"
**Is your feature request related to a problem? Please describe.**
I'd like to use `y-websocket` as a dependency to my server, rather than copy-paste code from `y-websocket`. Currently, the code in `bin/utils.js` does not expose its `docs` data, so my server code cannot access the internal docs.

Specifically: I am trying to create an HTTP API endpoint that copies one YDoc to another YDoc, and I b

[2020-08-11 19:53] #27 closed

[2020-08-11 19:55] dmonad commented on #27
Sure, that isn't a problem. I just published a new release that exports `docs`. `@1.3.3`

[2020-08-11 20:06] canadaduane commented on #27
Thanks!

[2020-08-12 09:27] micrology commented on #22
Yes, AFAIK, that would also be a good way of doing it - and I agree that documentation would be very helpful.  I've added some hints for apache in the README for this branch - maybe you could add more relating to nginx?

[2020-08-12 15:12] canadaduane commented on #22
Here is my nginx proxy setup:
[code]

[2020-08-26 16:55] garsdle commented on #23
Hi @dmonad any movement on this? We are looking to update our lib version but concerned about the memory leak.

[2020-08-26 20:43] dmonad commented on #23
Hi @garsdle , I can confirm that the memory usage increases over time, but I'm currently to busy to actually profile the bug and provide a fix for it.

You can probably find the memory issue yourself if you create two memory snapshots (the second one after memory usage increased by 100 MB) in the v8 developer console and compare the difference. It will probably take a few hours until you get meani

[2020-09-12 00:33] AdventureBeard commented on #14
@mikkorantalainen, you might be able to rig up a connection to Postgres by leveraging [y-leveldb](https://github.com/yjs/y-leveldb) + [level](https://github.com/Level/level) + [SQLdown](https://github.com/calvinmetcalf/SQLdown), though I'd be careful with SQLdown, as it looks pretty opinionated. You might use SQLdown as a framework for fulfilling the level interface in a way that best suits your a

[2020-10-03 18:03] ellisonbg commented on #23
HI all, I everything setup to debug this. Quick question: are you seeing the memory leak during periods where there are lots of document edits going through the WS server, or during periods where it is mostly idle?

[2020-10-03 19:15] ellisonbg commented on #23
I ran my test for 1 hour, making random edits to the doc every 10ms. Memory grew by around 100MB during this time. I can send the allocation timeline to anyone who is interested. Here is a screenshot that shows the results omitting the initial startup and final shutdown:

![Screen Shot 2020-10-03 at 12 05 45 PM](https://user-images.githubusercontent.com/27600/94999877-5296f400-0571-11eb-8890-1efea

[2020-10-03 19:34] micrology commented on #23
Hi Brian,

There is more at https://github.com/yjs/y-websocket/issues/24

The last comment of that thread includes a link to a movie showing what happens at the client end. You will see that there is a disconnect/connect every 30 seconds – not always, but (I think) whenever some kind of glitch at one or other end generates an error 503, and the server connection then goes into this connect/disconn

[2020-10-03 20:59] ellisonbg commented on #23
@micrology thanks for clarifying. Has anyone observed memory growth in a situation other than when clients are disconnecting/reconnecting? In looking through the server code, I see there is a closure used for the ping `setInterval`:

https://github.com/yjs/y-websocket/blob/master/bin/utils.js#L224

When I run a test with the client disconnecting/reconnecting the count of those closures increases w

[2020-10-03 21:35] ellisonbg commented on #23
@micrology can you test the PR that I just opened that tries to fix the clearInterval issue above: #30

[2020-10-04 10:09] micrology commented on #23
I’m testing.  No problems yet, but it can take time…

I’ll keep my fingers crossed.

Nigel

Professor Nigel Gilbert, CBE, ScD, FREng, FAcSS, Professor of Sociology,
University of Surrey, Guildford GU2 7XH, UK. +44 (0)1483 689173

From: "Brian E. Granger" <notifications@github.com>
Reply to: yjs/y-websocket <reply@reply.github.com>
Date: Saturday, 3 October 2020 at 22:35
To: yjs/y-websocket <y-webs

[2020-10-04 10:33] dmonad commented on #23
I merged @ellisonbg 's PR because it definitely fixed some unintended behavior. It is published in v1.3.4.

I'll leave it to you @micrology to close this bug. Let us know if there is still a memory leak.

Thank you all for contributing helpful profiling data and @ellisonbg  for debugging and providing a fix for this issue :heart:

[2020-10-04 15:37] ellisonbg commented on #23
@micrology keep us posted on the outcome!

@dmonad thanks for the quick review+merge!

[2020-10-04 19:40] micrology commented on #23
The modified util.js version of y-websocket has been running  for 9 hours and I haven't seen any disconnect/connect behaviour so far, so I am going to assume that this bug is now solved and will close the issue.  Many thanks to @ellisonbg for his excellent debugging!

[2020-10-04 19:40] #23 closed

[2020-10-04 19:41] micrology commented on #24
A change to util.js (see Memory leak? #23) seems to have cured this, so i am closing the issue.

[2020-10-04 20:20] ellisonbg commented on #23
Fantastic!

Sent from my iPhone

[2020-10-06 14:11] mikkorantalainen commented on #22
Example config for Apache reverse-proxy doing TLS termination (if you use Ubuntu, you need to do `sudo a2enmod proxy_wstunnel` to enable websocket proxying because it's not enabled by default):

[code]
If you want to use encrypted connection from reverse proxy to backend server, too, replace the `ws://` above with `wss://`.

As an additional note, if you use HTTP Basic Auth, you'll find that Safar

[2020-10-07 21:44] tommoor opened #31 "Alert message shown regularly while websocket attempts to reconnect"
**Checklist**

* [x] Are you reporting a bug? Use github issues for bug reports and feature requests. For general questions, please use https://discuss.yjs.dev/
* [x] Try to report your issue in the correct repository. Yjs consists of many modules. When in doubt, report it to https://github.com/yjs/yjs/issues/

**Describe the bug**
I'm able to reproduce receiving this alert with ease by killing th

[2020-10-08 17:56] tommoor commented on #31
This message seems to be guarded by `resyncInterval` being enabled so I'm just disabling that option for now

[2020-10-09 01:24] tommoor opened #33 "initUser: Cannot read property 'NaN' of undefined"
**Checklist**

* [x] Are you reporting a bug? Use github issues for bug reports and feature requests. For general questions, please use https://discuss.yjs.dev/
* [x] Try to report your issue in the correct repository. Yjs consists of many modules. When in doubt, report it to https://github.com/yjs/yjs/issues/

**Describe the bug**

Exception `TypeError: Cannot read property 'NaN' of undefined` in

[2020-10-10 14:11] dmonad commented on #33
Hi @tommoor

`userData.setUserMapping(ydoc, ydoc.clientID, user.id);` expects a mapped string value. Is `user.id` a string?

[2020-10-10 14:15] dmonad commented on #33
Oh.. I see that decoder.pos is `NaN`. I'm not sure how this can happen..

I can't reproduce the problem at the moment because the demo application is working for me.

Are you maybe connecting to a public room?

[2020-10-10 14:19] dmonad commented on #33
I was able to reproduce the issue. I'm working on a fix.

[2020-10-10 14:48] #33 closed

[2020-10-10 14:54] dmonad commented on #33
The problem resulted from some refactoring I did some time ago. The DS-decoder expected a lib0/Decoder, not an Uint8Array. Not sure why typescript didn't catch it.. Thanks for noticing!

I fixed the issue in yjs@13.4.1.

[2020-10-10 15:03] dmonad commented on #31
I was working with someone who reported (and showed logs) that the first sync message went missing. This would mean that in some browsers the first message on the websocket protocol can get lost which is very disturbing.

The issue seems to happen when a client connects through a VPN to a different region. It was only happening to a non-developer and I wanted to confirm what is happening.

I haven

[2020-10-10 15:04] #31 closed

[2020-10-10 15:04] #19 closed

[2020-10-10 15:05] tommoor commented on #31
Any truth in my observation that rsyncinterval should be cleared when the connection is closed?

[2020-10-10 15:22] dmonad commented on #31
When the connection is closed then then `ws` object should be set to null (https://github.com/yjs/y-websocket/blob/5a36d77d481fb31119042b7ef0f37bb4924fb746/src/y-websocket.js#L94).

Then `resyncInterval` shouldn't do anything anymore.. (https://github.com/yjs/y-websocket/blob/5a36d77d481fb31119042b7ef0f37bb4924fb746/src/y-websocket.js#L222)

So how do you have a closed connection and still have th

[2020-10-10 17:36] tommoor commented on #31
Not overwriting anything. It was happening during the retry connection loop once the server is killed, so there might be an edge-case – If I pin it down I'll file another ticket/PR.

[2020-10-10 17:59] dmonad commented on #31
That would be great, thanks!

[2020-10-20 04:37] Rsullivan00 commented on #26
Looking into similar setups @mikkorantalainen , I found a thread that added support for custom persistence adapters https://github.com/yjs/yjs/issues/170#issuecomment-536464934. I think you could write your own adapter for your datastore of choice instead of using LevelDB.

[2020-11-08 21:40] micrology commented on #24
Unfortunately, the issue persists, even with v1.3.6.  I get this in the console.log:
[code]
etc. repeating about every 30 seconds.
(The `sync` message is produced by:
[code]

This behaviour does not always occur, but does intermittently.  Once it starts, the only cure is to restart the client.

[2020-11-09 23:28] rebolyte commented on #14
Any update here? Being able to drop in y-redis here would be 🔥

[2020-11-10 00:14] dmonad commented on #14
Hi @rebolyte

No update.

In the limited time I have for this project (very little funding), I'm working on the new Yjs documentation site.

y-leveldb is stable now and could also be used over the different databases that levelup supports.

[2020-11-25 17:31] mujokodro commented on #7
Hi,
Any updates on this?

@WinstonFassett  monkey-patching onopen is possible only on initial setup. Later if you get  _connecting_ status patching onopen does not have effect.

[2020-11-26 18:03] AdventureBeard commented on #24
@micrology, are your clients setting their awareness state regularly? If they don't, the reconnect loop applies. I saw this behavior using y-prosemirror when I disabled its yCursorPlugin for debugging purposes. As soon as I re-enabled it (and consequently started sending awareness updates), the behavior ceased. I would think the ping sent from the server would count as a message w.r.t the idle-rec

[2020-11-26 23:39] micrology commented on #24
@AdventureBeard Your message prompted me to do some further investigation.  Your edit may indeed be a solution - I'll try it - but meanwhile here is what I found.

It has been a frustrating problem because the behaviour occurred intermittently, but I have now discovered an apparently infallible way to make it happen.

The trick is to start a websocket server, start a client, and then temporarily s

[2020-11-27 11:52] micrology commented on #24
@AdventureBeard following up your suggestion about increasing `messageReconnectTimeout`:  I changed it to 40000, and then started, stopped and restarted the server as described above, and unfortunately that change does not cure the reconnecting behaviour.  :-(  A pity.

[2020-11-27 23:23] micrology commented on #24
Continuing the saga: After stopping and restarting the server, I have confirmed that no more `messageAwareness` messages are received by the client, and hence the connection times out (when it is running normally, a `messageAwareness` message appears about every 15 seconds).  The messages are generated in `y-protocols/awareness.js` where there is a `setInterval` (line 55) that calls `setLocalState

[2020-11-28 20:35] micrology commented on #24
Final episode of this saga (possibly?):  The local state is lost when the server stops because `websocket.onclose` calls `awarenessProtocol.removeAwarenessStates` (line 105 in `y-websocket.js`), which deletes all the awareness states.  If one removes that line of code, stopping and restarting the server does not trigger the recycling behaviour and all works as expected.  There may be some circumst

[2020-12-02 14:25] hanspagel opened #41 "setLocalStateField() stops working after reconnecting to the server"
**Description**
When clients disconnect from the server, the awareness states are removed. When clients reconnect to the server, and try to set the local state through `setLocalStateField()` that won’t happen, because there is no state to update.

As a result the list of connected users (= awareness states) stays empty after losing the connection to the server, even when the it’s back online and a

[2020-12-02 14:26] hanspagel commented on #41
Oh no, had both repositories open in different tabs and posted the issue to the wrong repository. Sorry!

[2020-12-02 14:26] #41 closed

[2020-12-04 12:04] #7 closed

[2020-12-04 13:18] micrology commented on #24
For the record, [y-websocket 1.3.8](https://github.com/yjs/y-websocket/commit/63af0c0fc0589a20dd98ca5bb3659e45ba5fac38) resolves this issue.

[2020-12-04 13:18] #24 closed

[2020-12-04 13:32] dmonad commented on #24
That's great to hear! Thanks, I was about to check this issue again.

You were on to something with "awarenessProtocol.removeAwarenessStates (line 105 in y-websocket.js)".

The awareness states were not correctly removed. The local one should have been kept. #40

Furthermore, there was a memory leak related to awareness that I resolved in Yjs@13.4.6. The awareness instance was never destroyed, so

[2020-12-04 14:54] micrology commented on #24
Super!  Delighted that this long-standing mystery is now solved.

Nigel

Professor Nigel Gilbert, CBE, ScD, FREng, FAcSS, Professor of Sociology,
University of Surrey, Guildford GU2 7XH, UK. +44 (0)1483 689173

From: Kevin Jahns <notifications@github.com>
Date: Friday, 4 December 2020 at 13:32
To: yjs/y-websocket <y-websocket@noreply.github.com>
Cc: Gilbert, Nigel Prof (Sociology) <n.gilbert@surre

[2021-01-11 16:31] kriskbx opened #46 "Fragmented frames behind proxy"
**Describe the bug**
When running the WebSocket server provided in this repository behind a Traefik proxy it fails in larger documents with:

[code]

It seems that Traefik fragments frames or adapts frame size (which is compliant to the RFC). The WebSocket server uses the `arraybuffer` binary type and therefore - in my understanding - cannot deal with this. I don't understand how the y-js protocol

[2021-01-11 18:33] dmonad commented on #46
Hi @kriskbx ,
Could you please log the output of `buffer`?

[2021-01-12 17:12] kriskbx commented on #46
Here's the output of `buffer`:

[code]

And here the new error:

[code]

Thanks a lot!

[2021-01-12 18:30] dmonad commented on #46
I'm not sure I can fix this. `ws` (the websocket framework I'm using) handles messages of messages. y-websocket server just consumes the message:

[code]
I checked with the debugger that the `'message'` event doesn't emit more parameters. There is no parameter that could indicate that there are more messages to be received. My hands are tied.

A couple of things you could try:

* Upgrade to `ws` v

[2021-01-20 23:59] tommoor opened #47 "Memory leak in server implementation"
**Checklist**

* [x] Are you reporting a bug? Use github issues for bug reports and feature requests. For general questions, please use https://discuss.yjs.dev/
* [x] Try to report your issue in the correct repository. Yjs consists of many modules. When in doubt, report it to https://github.com/yjs/yjs/issues/

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduc

[2021-01-21 01:23] tommoor commented on #47
Yea, definitely the case – I just tried this patch and it also addresses the issue:
https://github.com/tommoor/y-websocket/compare/master...tommoor:fix/issue-47

It does look like the awareness instance [binds to the doc "destroy" event](https://github.com/yjs/y-protocols/blob/master/awareness.js#L79), but if I breakpoint here it's never called.

[2021-01-21 21:18] jnbarlow commented on #14
@dmonad The sample project has :
[code]

but I can't find docs and/or figure out how to send the state up on the initial connection.
I've got this far:
[code]
and `document` has the initial state, but I just for the life of me can't figure out how to push that to the front end.

[2021-01-21 22:59] tommoor commented on #47
I'm working on getting to the bottom of why "destroy" event isn't firing, in doing so I noticed another point that looks like a leak:

https://github.com/yjs/y-websocket/blob/d84b7f4ee08c785ad531e67a7c9db4aec2e10c14/bin/utils.js#L196-L201

If you don't provide any persistence then the doc is never destroyed or removed from the in-memory map.

[2021-01-21 23:42] tommoor commented on #47
Okay, "destroy" event only exists from https://github.com/yjs/yjs/releases/tag/v13.4.6 so looks like the dep just needs updating.

[2021-01-25 09:00] ivan-nemtinov commented on #7
To do auth and stop client reconnections we can use websocket's connection.close(CUSTOM_CODE). It's fast, because websockets are not used to send auth messages.

On the server side:

export const WEBSOCKET_AUTH_FAILED = 4000;

this.wss.on("connection", this.onConnection);
protected onConnection = async (connection: WebSocket, request: http.IncomingMessage) => {
	console.log("socket on connection")

[2021-01-26 13:05] dmonad opened #50 "Callback_object['Text'] should return quill delta"
See https://discuss.yjs.dev/t/html-state-of-the-document-as-callback-object-for-websocket-server/368/3

[2021-01-27 17:56] cristiano-belloni opened #51 "References to window object crash node scripts using WebsocketProvider"
**Checklist**

* [x] Are you reporting a bug? Use github issues for bug reports and feature requests. For general questions, please use https://discuss.yjs.dev/
* [x] Try to report your issue in the correct repository. Yjs consists of many modules. When in doubt, report it to https://github.com/yjs/yjs/issues/

**Describe the bug**
When using `WebsocketProvider` in a node script, `y-websocket.js`

[2021-02-04 17:20] NickMitin opened #52 "Incorrect content-length in callback.js when body contains non-ascii characters"
Incorrect content-length in callback.js when body contains non-ascii characters

callback.js, line 46 is:
[code]

callback.js, line 46 should be:
[code]

[2021-02-04 20:47] dmonad commented on #52
You are right, the `data` object should be converted to a buffer first to determine the length of the content.

The RFC specifies that the `content-length` is specified as the number of octets (number of bytes) and not as the length of the string.

Would you be willing to provide a PR for this? I currently don't have a lot of time to spare..

[2021-02-08 12:06] NickMitin commented on #52
Sure, will do it in few days!

[2021-02-14 14:50] #47 closed

[2021-02-19 11:08] Bogatinovski opened #54 "Websocket Server with HTTPS callback is not working"
**Describe the bug**
The HTTP callback is failing to execute. The server seems to be trying to call the method whenever there is a change of the text editor content, but it gives the following error message in the console:
`Callback request error. Error: socket hang up
    at connResetException (internal/errors.js:609:14)
    at Socket.socketOnEnd (_http_client.js:459:23)
    at Socket.emit (event

[2021-02-19 11:30] Bogatinovski commented on #54
**The issue does not happen If I set the CALLBACK_URL to CALLBACK_URL=https://localhost:5001/weatherforecast**. Obviously the problem is with HTTPS. This is probably due to using self-issued certificates on localhost

[2021-02-19 11:32] #54 closed

[2021-02-23 11:24] hanspagel opened #55 "Using y-websocket in Node.js: Depends on `window`"
**Describe the bug**
I’m trying to use y-websocket in Node.js (for testing purposes). As described in the README I’m passing `ws` as a WebsocketPolyfill, like this:

[code]

When I try to run this code there are two parts that expect to run in a Browser context:

1. https://github.com/yjs/y-websocket/blob/02f691d89c8cfea884d9f9fa98f0ff192b0eb7d9/src/y-websocket.js#L279-L281
2. https://github.com/d

[2021-02-23 21:11] hanspagel commented on #55
Oops, duplicate of #51.

[2021-03-12 16:06] anotheri opened #57 "No way to define `path` for WebSocket client"
**Describe the bug**
I can't see the way to define the `path` property for the WebSocket client.
When I use URL or room to emulate the `path` value to match URL, requests go to the server, but the connection never setup as expected. It never passes the `handleUpgrade` method.

**To Reproduce**
Server:
[code]

and on the client (I tried different combinations but the connection is dropping anyway)

[2021-03-12 16:45] dmonad commented on #57
Hi @anotheri, I haven't verified but I believe you that this is not working. I currently don't have time to work on this. I'd be happy to receive a PR though.

Just a note: this might be a bug in the `wss` package.

[2021-03-12 18:33] anotheri commented on #57
Well, it's possible but I doubt it, b/c I have another wss defined with `path: '/ws'`, which works as expected. But I define `path` on the client-side as well.
So to me, it looks like the only difference between these ones that the client for `y-websocket` created w/o `path` property.
Also have no time right now to verify this further and prepare PR. :/
But I'll try to prepare PR as soon as I have

[2021-03-12 18:41] dmonad commented on #57
Cool, thanks :+1:

[2021-03-13 18:44] anotheri commented on #26
Any updates on this? looking for the same thing, since `y-websocket` doesn't work well with horizontal scaling.

[2021-03-13 20:53] dmonad commented on #26
The y-websocket server is a basic, minimal server for syncing documents. I want to create a standardized API to extend y-websocket server to use different PubSub servers. I'm realizing that I can't do all this on my own. I'm hoping that others will create y-websocket compatible servers that integrate well in different environments. The current y-websocket server is the baseline for many profession

[2021-03-13 21:01] anotheri commented on #26
I see, ok, thanks.

[2021-03-21 18:40] #51 closed

[2021-03-21 18:40] #55 closed

[2021-03-25 13:38] kriskbx commented on #55
Thanks a bunch for working on lib0. But there's still a window reference in y-websocket itself: https://github.com/yjs/y-websocket/blob/9d7e5eaec89050a191b301c45e484357f1c44ae8/src/y-websocket.js#L279

[2021-04-10 16:35] flaviouk opened #62 "Status not updating"
**Describe the bug**
Status not updating

**To Reproduce**
wsProvider.on('status', event => {
  console.log(event.status) // logs "connected" or "disconnected"
})

wsProvider.destroy()

on('status') not being called

**Environment Information**
- yjs@13.5.4
- y-websocket@1.3.11
 - Browser - Chrome

[2021-04-11 08:21] flaviouk commented on #62
Ahhh I needed to provide a resyncInterval value..

[2021-04-11 08:21] #62 closed

[2021-05-16 05:13] kapv89 opened #65 "Make y-websocket run on node.js so that websocket server for y-websocket can be tested"
**Checklist**

[ ] Are you reporting a bug? Use github issues for bug reports and feature requests. For general questions, please use https://discuss.yjs.dev/
[ ] Try to report your issue in the correct repository. Yjs consists of many modules. When in doubt, report it to https://github.com/yjs/yjs/issues/

**Is your feature request related to a problem? Please describe.**
I wrote tests for a ws-s

[2021-05-17 03:27] jarone opened #66 "[Question] subDocument vs WebSocket connection ?"
hi, I'm newer.

About subDocuments sync each other based on y-websocket.

I had read the Document(https://docs.yjs.dev/api/subdocuments), and found some confuses.

The one of them is:

Does there must create a separated WebSocket connection after invoke load() ?

Can I use only single WebSocket connection to Sync all YDocs?

Is there any detail information about it?

[2021-05-17 15:13] dmonad commented on #66
When using y-websocket, you have to create a single WebSocket connection for each document. There are efforts to synchronize several subdocuments over a single y-websocket connection.

This is the algorithm that I want to implement eventually: https://discuss.yjs.dev/t/question-regarding-updates-and-state-vectors-in-y-leveldb/399/6?u=dmonad

Please use https://discuss.yjs.dev/ for questions in the

[2021-05-17 15:13] #66 closed

[2021-05-17 15:26] #65 closed

[2021-05-17 15:28] dmonad commented on #65
Fixed it in y-websocket@1.3.12

[2021-05-18 09:40] jarone commented on #66
Thanks, Kevin. 🤝

[2021-05-20 08:15] hanspagel opened #67 "Improved connection error handling in the client"
**Description**
We’re building an open source WebSocket server based on y-websocket, called [hocuspocus](https://www.hocuspocus.dev/). A lot of developers struggle to debug issues with it, for example when authentication fails. We’d like to improve the experience for developers.

For example, currently, the y-websocket client tries to reconnect, no matter what the error is, without communicating a

[2021-05-20 08:26] hanspagel commented on #14
Just wanted to chime in and say that we’re working on a wrapper on top of y-websocket, y-redis, and y-leveldb (in collaboration with Kevin) called [hocuspocus](https://www.hocuspocus.dev/). If you struggle to put together all the building blocks, it’s probably worth a look.

It’s only available for GitHub sponsors for now, but we’ll publish it as a MIT-licensed package in the next months. If you c

[2021-05-22 13:09] kapv89 opened #68 "WebsocketProvider instance leaving open handles after calling .destroy in node.js"
**Checklist**

* [x] Are you reporting a bug? Use github issues for bug reports and feature requests. For general questions, please use https://discuss.yjs.dev/
* [x] Try to report your issue in the correct repository. Yjs consists of many modules. When in doubt, report it to https://github.com/yjs/yjs/issues/

**Describe the bug**
When y-websocket is used in node.js environment (for writing tests

[2021-05-22 13:36] dmonad commented on #68
Hi @kapv89, thanks for opening this issue. It would help me greatly if you could find out which handler is still open.

[2021-05-22 13:41] kapv89 commented on #68
hi @dmonad

below is the output from [`wtfnode`](https://www.npmjs.com/package/wtfnode)

[code]

[2021-05-22 13:44] dmonad commented on #68
It seems that it's the Awareness instance's fault. The Awareness instance is not destroyed because it could be used by other providers.

You will probably fix the issue by doing `provider.awareness.destroy()` before calling `provider.destroy()`.

[2021-05-22 13:45] kapv89 commented on #68
Thanks that fixes it. Closing the issue.

[2021-05-22 13:45] #68 closed

[2021-05-22 23:09] micrology opened #69 "ReferenceError: require is not defined"
**Bug**
Running
[code]
yields
[code]
**To reproduce:**
[code]
(installs 1.3.14)
Then
[code]

which generates:
[code]
**Expected behavior**
a notice to say that y-webserver is running on port 1234

**Environment Information**
node v14.15.1
y-webserver 1.3.14

y-webserver Version 1.3..11 didn't have this problem.

[2021-05-23 16:59] istvank commented on #69
I guess this is related to https://github.com/yjs/y-websocket/commit/eba986d325a9673669050120bc3993d2663d992f

If I remove the `"type": "module"`, it works again.

[2021-05-23 22:25] #69 closed

[2021-05-23 22:27] dmonad commented on #69
I'm sorry for that. I fixed another bug with that but I broke the server by doing that. I will wait for the next major release to rewrite the server as an ESM module.

I'll shortly release a new version with a fix.

[2021-05-30 11:45] nemanja-tosic opened #70 "Awareness and Doc memory leak"
**Describe the bug**

The beforeunload listener isn't removed on destroy, an Awareness instance and a Doc instance are captured via closure and cannot be garbage collected in the browser. See: https://github.com/yjs/y-websocket/blob/master/src/y-websocket.js#L280

**To Reproduce**

1. Instantiate provider
2. Destroy it
3. Make a memory snapshot and look for retainers of Awareness/Doc

**Expected b

[2021-05-31 13:05] dmonad opened #72 "Next major release: Make this a proper esm module"
Note to myself:

Make this a proper ESM module by setting `type: "module"` in package.json. Currently, the `bin` folder contains commonjs modules (with file ending of `.js`) and the `src` folder contains ecmascript modules (also with the file ending `.js`). This is invalid to the spec.

But to keep compatibility, we have to keep the current format until the next major release because some projects

[2021-06-01 09:21] MegaCookie commented on #72
Kind of related (or maybe add another issue/ simple pull request?), when I build my app for production, it is throwing an error trying to import `y-websocket/bin/utils`:
[code]
 because it is not listed in the `exports` of  the `package.json`.

[2021-06-07 20:49] jperl commented on #72
Related to this, when I tried to install `y-websocket@1.3.15` when I run it I get this

<img width="1244" alt="Screen Shot 2021-06-07 at 1 48 03 PM" src="https://user-images.githubusercontent.com/1136652/121085639-fc7cef00-c796-11eb-934c-b59ad8180bd5.png">

This is not an issue with `y-websocket@1.3.14`

[2021-06-08 12:19] hesselbom opened #73 "Cannot do require('y-websocket/bin/utils.js') since v1.3.13"
**Describe the bug**
I've written my own websocket server based on y-websocket/bin/server.js but instead of rewriting y-websocket/bin/utils.js I've been requiring that file like this:

[code]

but since v1.3.13 (where explicit "exports" was added to package.json) I now get this error in Node.js:
[code]

**Expected behavior**
Being able to require subpaths in y-websocket to help custom websocket se

[2021-06-08 12:51] hanspagel commented on #73
I think that’s what is described in #72. ✌️

[2021-06-09 08:44] hesselbom commented on #73
@hanspagel You're right, that issue covers this so I'll close this!

[2021-06-09 08:44] #73 closed

[2021-06-14 20:30] jggc commented on #67
I ran into exactly this today and made a fix similar to the open prs but way dirtier, I throw directly from the onclose event before the connection retry is attempted when the error code is my authentication error code (4401)

Maybe a very simple fix would be to execute a custom onclose handler within the current handler and this custom handler could act like an express middleware and determine if

[2021-06-19 19:05] jamesopti commented on #67
I just hit this recently when my Hocuspocus server hit an error in its `onConnect` hook, effectively causing a DOS to the server as the client tried to reconnect indefinitely.

[2021-06-25 09:30] #70 closed

[2021-08-12 15:19] abdoolly opened #76 "y-websocket/bin/utils.js file is not accessible anymore the custom persistor solution is not applicable anymore"
I admire yjs but, there might be a small problem that happened in y-websocket.

In this issue [https://github.com/yjs/yjs/issues/170](https://github.com/yjs/yjs/issues/170) you purposed the solution which is the code below but, this code is no longer working with adding the `exports` field in the y-websocket and the new node.js versions only allowing subpath exports using the exports field if it e

[2021-08-19 20:21] #67 closed

[2021-09-17 14:40] meoyawn opened #79 "Read-only mode"
**Checklist**

[x] Are you reporting a bug? Use github issues for bug reports and feature requests. For general questions, please use https://discuss.yjs.dev/
[x] Try to report your issue in the correct repository. Yjs consists of many modules. When in doubt, report it to https://github.com/yjs/yjs/issues/

**Is your feature request related to a problem? Please describe.**
I'm building a collabora

[2021-09-22 09:30] Tpuljak commented on #76
I am also facing this issue and am forced to keep y-websocket at version `1.3.6` which exports the `bin` folder.

[2021-09-26 12:31] Shankar-khati opened #80 "Unable to run y-websocket lib with y-quill demo locally"
I'm able to build and run the y-websocket library locally.
 - Downloaded the y-websocket library.
 - npm ci
 - npm run dist

on demo folder
 - npm i /path/to/local/folder/y-websocket
 - npm run start

**After running the demo i don;t see any sync and updates are getting applied. But I can see the awareness updates are getting applied properly**

**Expected behavior**
- **After building dist locall

[2021-09-26 12:32] Shankar-khati commented on #80
@dmonad if you have any isights please do let me know
thanks,
Shankar

[2021-09-27 05:40] Shankar-khati commented on #80
The issue seems to be environment specific, I pushed the tag and tried to run same code with npm published version it's working fine.

[2021-09-27 05:40] #80 closed

[2021-10-01 16:52] Flamenco opened #81 "'sync' event is fired before document is loaded"
**Describe the bug**

Sync is called with isSynced true, but my document item is empty.  This behavior is intermittent.

I need to add a delay before accessing the document.

Here is a helper function that includes a delay that resolves the problem.  Without the delay, my doc.getText().length is sometimes '0', even though a document exists in the backend.

My test show the bigger the document, the

[2021-10-02 13:29] dmonad commented on #81
Hi @Flamenco,

The "synced" event is fired when the client received the initial state from the server. However, it seems that the server loads the content from leveldb after the client is already synced. This is most likely a bug in the y-leveldb integration.

[2021-10-07 18:50] Flamenco commented on #81
@dmonad @dmonad,

y-websocket has this code:
[code]

So it appears as you mentioned, sync is sent before any documents are actually loaded from persistence.

[2021-10-12 07:54] andrew-d-jackson opened #82 "Invalid messages crash the server in a way that is un-preventable"
When you send up an invalid message that isn't binary (in this example I sent up a string like looks like this "...`") it throws an exception that is un-catchable by anyone using this library

- Create a server using y-websocket
- Connect to the server using a tool like postman
- Send up the message "..`" as a string
- Bug: The server will crash with the following error:
[code]

This makes sense,

[2021-10-13 10:45] hesselbom commented on #76
A temporary solution is to use [patch-package](https://www.npmjs.com/package/patch-package) by removing the "exports" section (the part that was added [here](https://github.com/yjs/y-websocket/commit/e3615979b42c2f895c1b940d582323840772f4ec#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R28)) of `node_modules/y-websocket/package.json` and then running `yarn patch-package --ex

[2021-10-19 09:15] TeemuKoivisto commented on #72
Is it possible to upgrade the package.json to use `"type": "module"`? Not sure what it breaks in downstream repos but I'm willing to fix it if I know what gets broken. Otherwise my svelte-kit project will not build unless I either remove the "exports" block manually or set the type myself by some hacky script. Maybe there's a config option to force a resolution on package basis but I'd rather fix

[2021-10-23 15:32] chanced opened #86 "The `getContent` method references the method `getXmlElement` which does not appear to exist."
**Checklist**

* [X] Are you reporting a bug? Use github issues for bug reports and feature requests. For general questions, please use https://discuss.yjs.dev/

**Describe the bug**

the function `getContent` references `getXmlElement` on a `Y.Doc` which does not appear to exist.

https://github.com/yjs/y-websocket/blob/caa6304ba30c0e6d5921e735470f6470b045cb6a/bin/callback.js#L73

https://github.

[2021-11-20 14:27] dmonad commented on #76
I merged the PR that resolves this ticket and will publish a new release in a bit.

[2021-11-20 14:27] #76 closed

[2021-11-22 10:01] dmonad commented on #86
Right, thanks! We should adopt this to `ydoc.get(objName, Y.XmlElement)`.

[2021-11-24 19:25] asalem1 opened #87 "Disconnect on Auth Failure:"
This is related to the thread here:

https://github.com/yjs/y-websocket/issues/7

**Is your feature request related to a problem? Please describe.**
Currently emitting a message to trigger the message handler for unauthenticated requests continues reconnect attempts, despite getting console.warns according to the authProtocols here:

https://github.com/yjs/y-websocket/blob/master/src/y-websocket.j

[2021-11-28 18:44] nokola commented on #72
This issue makes yjs impossible to use with the latest Svelte/SvelteKit apart from very hard and hacky workarounds.
I'd really like the major version bump that dmonad mentions above :)

[2021-11-29 07:16] TeemuKoivisto commented on #72
I'll make a PR and see what's the reception. And my current solution has been just pinning the y-websocket version to `1.3.14`.

[2021-12-02 12:48] asalem1 commented on #87
@dmonad any thoughts on this? I'd love to make some headway on this but would wanna wait for your thoughts on how to go about it

[2021-12-16 11:44] vitonsky opened #90 "I can't check sync status"
**Checklist**

* [x] Are you reporting a bug? Use github issues for bug reports and feature requests. For general questions, please use https://discuss.yjs.dev/
* [x] Try to report your issue in the correct repository. Yjs consists of many modules. When in doubt, report it to https://github.com/yjs/yjs/issues/

**Describe the bug**
In readme we have info about `synced` property of WS provider with

[2022-01-05 02:14] joshuafontany commented on #57
[code]

The server url has a hard-coded path separator in the url constructor. This leads to doubled slashes when passing what seems like the right path.

[2022-02-06 21:53] a-mason opened #94 "WebsocketProvider needs to wait to send sync step 1 until after it knows the server is listening"
**Checklist**

* [x] Are you reporting a bug? Use github issues for bug reports and feature requests. For general questions, please use https://discuss.yjs.dev/
* [x] Try to report your issue in the correct repository. Yjs consists of many modules. When in doubt, report it to https://github.com/yjs/yjs/issues/

**Describe the bug**
WebsocketProvider needs to wait to send sync step 1 until after it

[2022-02-08 22:08] szborows opened #95 "Exception/crash when sending garbage to websocket"
**Checklist**

* [x] Are you reporting a bug? Use github issues for bug reports and feature requests. For general questions, please use https://discuss.yjs.dev/
* [x] Try to report your issue in the correct repository. Yjs consists of many modules. When in doubt, report it to https://github.com/yjs/yjs/issues/

**Describe the bug**
One can crash `y-websocker` server by sending over wire number gre

[2022-02-21 13:21] jlvdh opened #96 "clear document from leveldb after writeState"
When persisting the document updates using persistence.bind() document updates are saved, when writeState is called the document is destroyed in memory but seems to live on in leveldb. Which would unnecessarily takes up space when it's already persisted to another db in writeState.

**Describe the solution you'd like**

after writeState is called (https://github.com/yjs/y-websocket/blob/master/bin

[2022-02-22 11:02] jlvdh commented on #94
@a-mason I'm currently running into the same issue. Curious if you could share a bit more into detail how you're currently solving this?

[2022-02-22 18:35] a-mason commented on #94
@jlvdh Sure. I'll try to get a fork/branch up with the edits in a bit. There may be other ramifications to the change that I haven't uncovered yet. But it seems to be working in my use case.

[2022-02-22 19:51] a-mason commented on #94
[Here is the commit](https://github.com/a-mason/y-websocket/commit/7e1077cc6ea5589e789811d9cb164a0c13faeca1#diff-bf6cbbe721bbeff64c972b548f6291dc24bba8fd0e1cef5b91d87513c6a0b362R38) with the changed that appears to fix it for me. I haven't been playing around with Awareness too much. So you may need to consider moving the awareness upsync as well [(here)](https://github.com/a-mason/y-websocket/com

[2022-02-23 14:51] jlvdh commented on #94
Thanks a lot! Just wanted to share with you another solution that seemed to work; putting the async call before the handleUpgrade:

[code]

[2022-02-23 15:48] dmonad commented on #94
Thanks for sharing! This is also the solution that is described by the `ws` library: https://github.com/websockets/ws#client-authentication
It might very well be that this doesn't work if you don't pass an `async` function.

I added a short hint to the `ws` docs from the handleUpgrade method. If this still fails, it might make sense to open an issue in the `ws` project because this doesn't seem to

[2022-02-23 15:48] #94 closed

[2022-02-23 17:34] a-mason commented on #94
We had async code in both in the authentication and as part of the handling of the wss 'connection'. The authentication was being handled as both you suggested, but it was the latter async code (fetching the doc from persistent storage) that was causing the issue. The reference server handles this by not awaiting the fetch of the document ([here](https://github.com/yjs/y-websocket/blob/eb53b555f12

[2022-02-24 12:17] dmonad commented on #94
If you wait to register event handlers after you synced with a database you will definitely not receive the sync messages from the client. A solution would be to make sure that event handlers (e.g. `onmessage`) are registered when the connection is initialized (synchronously).

[2022-03-02 12:14] dmonad commented on #96
I don't think you need leveldb if you don't plan to persist the document..

If you use leveldb persistence, then it is supposed to keep track of the leveldb state.

If you use another persistence layer (e.g. your custom MongoDB persistence), then the state is supposed to be persisted in that layer.

You can combine two persistence layers (which is what I think you want to do), but then you have to

[2022-03-02 12:14] #96 closed

[2022-03-26 00:20] vitonsky commented on #90
It's not a library bug

[2022-03-26 00:20] #90 closed

[2022-03-30 08:44] dmonad opened #98 "nevermind"
https://github.com/yjs/y-websocket/blob/6fcabc57e0a04dad6ea17d91c72cb0bad70f418d/src/y-websocket.js#L274

[2022-03-30 08:45] #98 closed

[2022-04-10 03:04] lucasvanbramer opened #99 "BroadcastChannel client deleting Y.Map element causes delayed deletion of element in another map."
**Describe the bug**
With two clients connected over a broadcastChannel to the same Doc, client1 deleting an element of map1 causes a value in map2 to be deleted on client1's side, but only after the client2 modifies the value of map2. Client1 and client2 then split and their documents do not share state. Client2 will behave normally on its side and client1 has inconsistent behavior depending on w

[2022-04-10 10:09] dmonad commented on #99
Hi @lucasvanbramer,

Can you please log `map._item.id` in both browser windows and tell me if they are the same? Here, `map` is the Yjs type that doesn't sync anymore.

[2022-04-10 11:48] lucasvanbramer commented on #99
They are the same, even after t=2. (After t=2, the client who received the 'delete' on map2 is sometimes still receiving events for map1).

[2022-04-10 12:40] dmonad commented on #99
Can you please check the value of `map._item.deleted`?

[2022-04-10 20:16] lucasvanbramer commented on #99
For both map1 and map2 (I am observing on both), they both indicate that `map1._item.deleted` and `map2._item.deleted` are false.

Perhaps an interesting detail - after the delete of `counter` on client1, client1's observer of map2 (the counter map) no longer emits events on `.observe` - I can only see that map2 is not deleted because the observer on map1 is still firing.

[2022-04-14 17:35] lucasvanbramer commented on #99
You're right - I did notice pendingStructs was not null, and your explanation makes perfect sense. This is a fantastic, clear explanation and was exactly what I was looking for. Thank you so much for this assistance and all the work you've put into Yjs!

[2022-04-17 14:16] #99 closed

[2022-04-17 14:18] dmonad commented on #99
@lucasvanbramer I fixed the issue in y-websocket@1.4.1

[2022-04-17 22:04] lucasvanbramer commented on #99
Thank you!

[2022-04-20 08:26] cm226 opened #100 "memory leak when persistence not enabled"
**Describe the bug**
I think the web socket server indefinitely holds on to documents even when there are no active connections and persistence is not enabled.

Note that if persistence if enabled then this is not reproducible, which is the reason I think its a bug and not missing documentation.

**To Reproduce**
1. start y-websocket server (do not use any persistence)
2. create a Y.doc in the bro

[2022-04-20 09:02] dmonad commented on #100
Hi @cm226,

Most people will use the in-memory version only for debugging and don't leave it running for too long. For most people, I'd assume the general assumption is that the document continues to live somewhere and is never deleted intentionally.

However, I do understand why you'd want to remove the document. There are legitimate reasons for doing that.

The y-websocket server is a minimalist

[2022-04-20 09:02] #100 closed

[2022-04-21 17:13] ravipati2008 opened #103 "Make broadcast channel connection configurable"
Broadcast channel is not supported on all platforms(react native for example). So, it would be nice to have an option to disable broadcast channel connections.

[2022-04-22 10:44] #103 closed

[2022-04-22 10:46] dmonad commented on #103
Thanks @ravipati2008,

I added an option to disable BroadcastChannel `disableBc: true`.

This is released in `y-websocket@1.4.3`.

[2022-05-05 22:12] canadaduane opened #105 "Convert utils.js to ES (and move to src dir?)"
**Is your feature request related to a problem? Please describe.**

Our ES server backend (EcmaScript, i.e. preferring "import" over "require") directly imports `utils.js`:

[code]

Unfortunately, because `utils.js` has a `const Y = require('yjs')` line, it is importing Yjs once as CJS, and then when our server later includes yjs by calling `import * as Y from 'yjs'`, Yjs gets included a 2nd time

[2022-05-24 05:54] nthouliss opened #106 "Decouple websocket liveliness check from y-js document message (on client)"
**Checklist**

[ ] Are you reporting a bug? Use github issues for bug reports and feature requests. For general questions, please use https://discuss.yjs.dev/
[x] Try to report your issue in the correct repository. Yjs consists of many modules. When in doubt, report it to https://github.com/yjs/yjs/issues/

**Is your feature request related to a problem? Please describe.**
As far as I'm aware the

[2022-05-24 10:32] dmonad commented on #106
Hi @nthouliss,

that's right. Awareness is not part of Yjs and should be viewed as a separate CRDT. Authors of providers may use it, or implement a different approach if they choose to do so. While the documentation of `ws` suggests using the native ping/pong feature, not all browsers (none, as far as I know) support *listening* to ping/pong events and can't send pings to the server. Browsers only

[2022-05-24 10:32] #106 closed

[2022-05-25 02:33] nthouliss commented on #106
The native websocket library supports listening to pong events. I have observed this behaviour myself from the y-websocket client when sending pings from the server.

By just removing these lines:

https://github.com/nthouliss/y-websocket/blob/f133fb2db5e4867f1ea7ff8166a0687fd1676fdd/src/y-websocket.js#L297-L303

[code]

I can see that the connection is kept alive. The example sends these events a

[2022-05-25 04:10] nthouliss commented on #106
I thought further about your comment and I realise what you meant by the ping event on the client Websocket library. I forgot that the onmessage event isn't triggered with the ping event from a server and is only handled from the browser.

However, is there any chance that a custom 'ping' event (i.e. a ping message from the server) could be supported in order to decouple the awareness from this? I

[2022-05-25 07:54] dmonad commented on #106
The server really just needs to forward the awareness messages. It doesn't even have to parse them. As I said, they serve as a ping-pong replacement with minimal overhead and some additional functionality.

From my perspective, it doesn't make sense to add another ping/pong alternative in this repo for me to maintain, just to solve a unique edge case that can be solved by your server implementatio

[2022-06-17 02:16] fasteddys opened #109 "Sample with ASP MVC Core views"
hello, this is fascinating, can you include a sample to use with ASP MVC core views please

[2022-06-17 05:53] dmonad commented on #109
Hi @fasteddys,

This is a bit out-of-scope for this project. I don't have a Windows computer or know what an ASP MVC Core View is..

There's a C# implementation of Yjs that could be helpful to build a .Net backend for Yjs. If you find somebody who can implement this, I'd be happy about a contribution that adds an example on how to do it.

https://github.com/yjs/ycs

[2022-06-17 05:53] #109 closed

[2022-06-26 07:40] lijie1129 opened #110 "[Question] Is there an event to identify that data has been uploaded to the server?"
**My scenario**: create a document locally, input some content, and then establish a connection through y-websocket to upload it to the server.

**The question** is: when to close this connection(wsProvider)?

_I currently use setTimeout to destroy the wsProvider after 5 seconds. But I don't think it's elegant._

[2022-06-26 09:21] dmonad commented on #110
Please, questions go to discuss.yjs.dev

[2022-06-26 09:21] #110 closed

[2022-07-11 18:43] diomedtmc opened #112 "y-websocket reporting noisy error to console.error: 'Unable to compute message'"
**Checklist**

* [x] Are you reporting a bug? Use github issues for bug reports and feature requests. For general questions, please use https://discuss.yjs.dev/
* [x] Try to report your issue in the correct repository. Yjs consists of many modules. When in doubt, report it to https://github.com/yjs/yjs/issues/

**Describe the bug**
y-websocket reporting noisy error to console.error: 'Unable to com

[2022-07-13 12:44] dmonad commented on #112
I suggest that you don't forward messages to y-websocket that y-websocket can't interpret. You can extend the protocol by adding more message types to the `messagehandlers` array: https://github.com/yjs/y-websocket/blob/master/src/y-websocket.js#L219

I don't want to turn off this error message because it does make sense to log unexpected cases.

[2022-07-13 12:44] #112 closed

[2022-07-13 15:09] diomedtmc commented on #112
Oh, interesting.  The lack of interface for what would seem to be a standard extension led me to believe there was no good way to do it…but I see the design now.  Would you be opposed to making this a feature request for future framework improvements?

[2022-07-14 10:41] dmonad commented on #112
Let's discuss the approach first before making a PR.

I'd accept a PR that adds a parameter for custom messages.

[code]

These custom messages just have to be added to `messageshandlers[typeid] = handler` in the constructor.

[2022-08-03 14:52] hesselbom commented on #99
@dmonad This fix unfortunately caused a regression bug wherein my project that uses yjs, y-codemirror and y-websocket suddenly started logging the following for **every** change/keystroke in CodeMirror:

```[yjs] Changed the client-id because another client seems to be using it.```

And it looks like every keystroke creates a new client id which then messes up a bunch of other things (e.g. remote

[2022-08-19 19:05] codesiddhant commented on #17
not working at all

[2022-08-31 14:15] mifopen opened #117 "Incorrect handling of y-protocols/auth messages"
**Describe the bug**
`readAuthMessage` passes Y.Doc instance to `permissionDeniedHandler` (or whatever you gave it as the second argument)
But `permissionDeniedHandler` in `y-websocket.js` thinks it will be a provider https://github.com/yjs/y-websocket/blob/master/src/y-websocket.js#L62

**To Reproduce**
Steps to reproduce the behavior:
1. Send auth message from server
2. See `Permission denied to

[2022-08-31 20:12] #117 closed

[2022-08-31 20:13] dmonad commented on #117
Thanks, I fixed this. This will be included in the next release.

[2022-09-08 13:41] mifopen opened #118 "Incorrect lib0 peerDependency version"
Looks like you need to set `lib0` peerDependency to at least `0.2.51`. Otherwise, passing `provider` as `origin` parameter of `publish` function doesn't make any effect and messages are handled by the "origin" instance as well.
As a result,the  "origin" instance handles the final awareness update on destroying/disconnecting the provider and thus holding itself in the "on" state for others on recon

[2022-09-08 16:25] mifopen opened #119 "Is beforeunload a correct event for reseting awareness state?"
Shouldn't it be just `unload`. `beforeunload` is often used to ask users about unsaved changes. It means that the user will be "disconnected" from the awareness protocol until they choose, for example, "exit without saving", "cancel" or "save".

[2022-09-08 16:55] dmonad commented on #118
I'm sorry, I don't understand this bug report. How do I reproduce this? lib0 is already a dependency of y-websocket and I don't think it makes sense to add it as a peerDependency.

[2022-09-08 17:00] #118 closed

[2022-09-08 17:02] dmonad commented on #119
Can you try out whether disconnecting will still work if we do it in the unload event?

[2022-09-09 13:01] mifopen commented on #119
Yes, it does work

[2022-09-09 14:28] #119 closed

[2022-09-09 14:29] dmonad commented on #119
Thanks for verifying. Added this change and made a release.

[2022-09-26 11:07] zzph opened #120 "Filter results on request"
Hi, firstly thanks for this awesome project
**Checklist**

**Is your feature request related to a problem? Please describe.**
I would like a way to query just a subset of the data from yjs. For simplicity, presume it’s a todo list and we want to filter out “completed “ items.

**Describe the solution you'd like**
Ability to request filtered yjs results (instead of the entire "room"). Query could b

[2022-09-26 16:52] dmonad commented on #120
Hi @zzph ,

Something like this is definitely not possible in Yjs for technical reasons (you can't fetch a subset of data). However, you can use subdocuments (see documentation) to achieve the same thing.

[2022-09-26 16:52] #120 closed

[2022-10-05 00:09] mifopen opened #122 "Reconnected client becomes visible to others only after some period"
Let's say we have two clients: 1 and 2 that synchronise their awareness states via some server node. They both have some states.
Now if we call `provider.disconnect()` on the second client then the first one will notice it immediately.
But if we call `provider.connect()` then no event will raise on the awareness instance of the first one.
`added`, `updated`, `removed` arrays will be empty because

[2022-10-07 19:25] janaka commented on #7
Hey @WinstonFassett, thanks for your details post on authN. I you changes to y-protocol and y-websocket to add support didn't get merged into the main project right?

Is forking the best approach here? just want to make sure I'm not missing a trick.

[2022-10-11 10:27] mifopen commented on #122
@dmonad Also another issue is that on reconnection we can receive the current awareness state of others (e.g. https://github.com/yjs/y-websocket/blob/master/bin/utils.js#L278-L284). But their clocks could be still the same as we already have in `meta` because we're not purging `meta` on reconnection. As a result, we wouldn't handle initial awareness state from others until the next clocks tick.

[2022-10-12 13:04] dmonad commented on #122
That's a good point. Thank you, I'll look into this!

[2022-10-19 04:34] sdzhu opened #123 "Can not visit the server in docker by the Dockerfile."
I must set ENV HOST=0.0.0.0 in Dockerfile.
Or run -it --rm -p 1234:1234 **-e HOST=0.0.0.0** --name y-websocket y-websocket.
Node server can not be visitied if this host is localhost or 127.0.0.1 in docker.
I suggest add this line "ENV HOST=0.0.0.0" in the dockerfile of the repository.

[2022-10-21 03:24] arvid220u opened #124 "Doesn't work with React.strictMode"
In React strict mode, the provider will be created twice, with one of the two being destroyed immediately. This seems to make the syncing not work. My guess is that it has to do with the globals being used (e.g. `messageHandlers`).

If I have time to work on this I will submit a pull request!

[2022-10-24 11:53] davidbrochart opened #125 "WebSocket provider allows redirect"
Hi @dmonad,
It looks like if a WebSocket endpoint returns a redirect to another WebSocket endpoint, the WebSocket provider doesn't follow the redirect.
Is that correct? If so, would it be possible to allow redirects?

[2022-10-24 13:06] dmonad commented on #125
The Websocket API in the browser doesn't have such a configuration, I think..

Not sure how one would implement this.

[2022-10-24 13:17] dmonad commented on #125
https://stackoverflow.com/questions/46962881/is-it-possible-to-seamlessly-redirect-websockets

The Q above seams to explain the situation. The browser usually doesn't follow redirects. You could implement a polyfill that supports redirects as explained in the A above.

[2022-10-24 13:18] dmonad commented on #125
FYI: y-websocket accepts a Websocket polyfill.

[2022-10-24 13:20] davidbrochart commented on #125
Interesting, thanks @dmonad !

[2022-10-24 13:20] #125 closed

[2022-11-01 17:12] mifopen opened #126 "Potential issue with "controlled ids" concept in y-websocket server implementation"
I'm not sure that understand the concept fully, that's why I'm using "potential" in the title.
Could you please elaborate on the purpose of this piece:
https://github.com/yjs/y-websocket/blob/master/bin/utils.js#L111-L115
[code]
Later this list is used for removing the state of controlled ids of the connection on closing it.
I see why we need it. But what if during the connection lifecycle it send

[2022-11-01 17:20] mifopen commented on #126
@dmonad Don't know why the issue is marked with `wontfix` automatically. Hope it doesn't mean that it goes directly to a trash bin 😁

[2022-11-01 17:24] mifopen commented on #126
It could be a problem to distinguish between "your own" ids and "someone else's" ids in the awareness update handler. Could even require protocol changes. But I'm just wondering why we even need to distribute this kind of "I marked remote client as absent because of the timeout on my side" updates. If the remote client is really absent, then every other awareness instance will be able to mark it a

[2022-11-11 15:12] kapv89 opened #128 "Why not add "type": "module" in package.json of y-websocket?"
**Checklist**

* [x] Are you reporting a bug? Use github issues for bug reports and feature requests. For general questions, please use https://discuss.yjs.dev/
* [x] Try to report your issue in the correct repository. Yjs consists of many modules. When in doubt, report it to https://github.com/yjs/yjs/issues/

**Describe the bug**
As seen in this repo - https://github.com/kapv89/yjs-scalable-ws-b

[2022-11-25 16:18] maksymalist opened #130 "Websocket events to the client `throw integer out of range` error"
## Describe the bug

Whenever I try to send a websocket event to my server (https://github.com/yjs/yjs-demos/blob/main/demo-server/demo-server.js) it always throws me an error:

[code]

and that goes both ways so when I try to send an event from my server to the client listeners it sends me the same error but it's happening in the server code

[code]

## To Reproduce

**Steps to reproduce the serv